@charset "utf-8";


@font-face {
	font-family: 'SUIT';
	font-style: normal;
	font-weight: 100;
	src:url('font/NotoSansKR-Thin.eot');
	src:url('font/NotoSansKR-Thin.eot?#iefix') format('embedded-opentype'),
	url('font/NotoSansKR-Thin.woff') format('woff'),
	url('font/NotoSansKR-Thin.otf') format('opentype');
}

@font-face {
	font-family: 'SUIT';
	font-style: normal;
	font-weight: 200;
	src:url('font/SUIT-Thin.eot');
	src:url('font/SUIT-Thin.eot?#iefix') format('embedded-opentype'),
	url('font/SUIT-Thin.woff') format('woff'),
	url('font/SUIT-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'SUIT';
	font-style: normal;
	font-weight: 300;
	src:url('font/SUIT-Light.eot');
	src:url('font/SUIT-Light.eot?#iefix') format('embedded-opentype'),
	url('font/SUIT-Lightt.woff') format('woff'),
	url('font/SUIT-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'SUIT';
	font-style: normal;
	font-weight: 400;
	src:url('font/SUIT-Regular.eot');
	src:url('font/SUIT-Regular.eot?#iefix') format('embedded-opentype'),
	url('font/SUIT-Regular.woff') format('woff'),
	url('font/SUIT-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'SUIT';
	font-style: normal;
	font-weight: 500;
	src:url('font/SUIT-Medium.eot');
	src:url('font/SUIT-Medium.eot?#iefix') format('embedded-opentype'),
	url('font/SUIT-Medium.woff') format('woff'),
	url('font/SUIT-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'SUIT';
	font-style: normal;
	font-weight: 600;
	src:url('font/SUIT-SemiBold.eot');
	src:url('font/SUIT-SemiBold.eot?#iefix') format('embedded-opentype'),
	url('font/SUIT-SemiBold.woff') format('woff'),
	url('font/SUIT-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'SUIT';
	font-style: normal;
	font-weight: 700;
	src:url('font/SUIT-Bold.eot');
	src:url('font/SUIT-Bold.eot?#iefix') format('embedded-opentype'),
	url('font/SUIT-Bold.woff') format('woff'),
	url('font/SUIT-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'SUIT';
	font-style: normal;
	font-weight: 800;
	src:url('font/SUIT-ExtraBold.eot');
	src:url('font/SUIT-ExtraBold.eot?#iefix') format('embedded-opentype'),
	url('font/SUIT-ExtraBold.woff') format('woff'),
	url('font/SUIT-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'SUIT';
	font-style: normal;
	font-weight: 900;
	src:url('font/SUIT-Heavy.eot');
	src:url('font/SUIT-Heavy.eot?#iefix') format('embedded-opentype'),
	url('font/SUIT-Heavy.woff') format('woff'),
	url('font/SUIT-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'NanumMyeongjo';
	font-style: normal;
	font-weight: 400;
	src:url('font/NanumMyeongjo.eot');
	src:url('font/NanumMyeongjo.eot?#iefix') format('embedded-opentype'),
	url('font/NanumMyeongjo.woff') format('woff'),
	url('font/NanumMyeongjo.ttf') format('truetype');
}

@font-face {
	font-family: 'NanumMyeongjo';
	font-style: normal;
	font-weight: 700;
	src:url('font/NanumMyeongjoBold.eot');
	src:url('font/NanumMyeongjoBold.eot?#iefix') format('embedded-opentype'),
	url('font/NanumMyeongjoBold.woff') format('woff'),
	url('font/NanumMyeongjoBold.ttf') format('truetype');
}
@font-face {
	font-family: 'GmarketSans';
	font-style: normal;
	font-weight: 300;
	src:url('font/GmarketSansTTFLight.eot');
	src:url('font/GmarketSansTTFLight.eot?#iefix') format('embedded-opentype'),
	url('font/GmarketSansTTFLight.woff') format('woff'),
	url('font/GmarketSansTTFLight.ttf') format('truetype');
}
@font-face {
	font-family: 'GmarketSans';
	font-style: normal;
	font-weight: 400;
	src:url('font/GmarketSansTTFMedium.eot');
	src:url('font/GmarketSansTTFMedium.eot?#iefix') format('embedded-opentype'),
	url('font/GmarketSansTTFMedium.woff') format('woff'),
	url('font/GmarketSansTTFMedium.ttf') format('truetype');
}
@font-face {
	font-family: 'GmarketSans';
	font-style: normal;
	font-weight: 700;
	src:url('font/GmarketSansTTFBold.eot');
	src:url('font/GmarketSansTTFBold.eot?#iefix') format('embedded-opentype'),
	url('font/GmarketSansTTFBold.woff') format('woff'),
	url('font/GmarketSansTTFBold.ttf') format('truetype');
}